:root {
    --primary-color: mediumslateblue;
  }
  
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
    color: white;
    margin: 0rem;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.card{
    width: 640px;
    position: relative;
    background-color: rgb(16 16 16);
    /* background-color: red; */
    border: 1px solid rgb(255 255 255 / 5%);
    border-radius: 1.5rem;
    padding: 1rem;
}

.card::after{
    content: '';
    height: 70px;
    width: 3px;
    position: absolute;
    left: -1px;
    top: 65%;
    background: linear-gradient(
        transparent,
        var(--primary-color),
        transparent
      );
    opacity: 0;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;

}
.card::after {  
    top: 65%;
    opacity: 0;
  }

.card:hover::after{
    top: 25%;
    opacity: 1;
}













/* content style not imp */
.card-content {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 1px, 
      transparent 1px
    );
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    padding: 4rem;
    border-radius: 1.25rem;
    overflow: hidden;
  }
  
  .card-content > :is(h1, h3, p) {
    text-align: center;
  }
  
  .card-content > h1 {
    color: rgb(250 249 246); 
    font-size: 2.6rem;
  }
  
  .card-content > h3 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 0.76rem;
  }
  
  .card-content > p {
    color: rgb(255 255 255 / 75%);
    line-height: 1.5rem;
  }