  @font-face {
    font-family: "Sofia";
    src: url("./assets/sofiapro-light.fc4151ac.otf");
  }
  :root {
      --primary-color: mediumslateblue;
    }

  body { 
    background-color: black;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    color: white;
    font-family: 'Sofia';
  }

  header{ 
    height: 20vh;
    width: 100%;
    text-align: center;
  }

  header .logo img { 
    max-width: 240px;
  }

  .card { 
    width: 100%;
    max-width: 650px;
    background-color: rgb(16 16 16);
    border: 1px solid rgb(255 255 255 / 5%);
    border-radius: 1.5rem;
    
    margin: auto;
    margin-top: 100px;

    background-color: rgb(16 16 16);
    /* background-color: red; */
    border: 1px solid rgb(255 255 255 / 5%);

    position: relative;

  }



  .card-content { 
    padding: 2rem;
    text-align: center;
    background-image: radial-gradient( rgba(255, 255, 255, 0.1) 1px, transparent 1px );
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    padding: 4rem;
    
  }
  .card-content h1 strong { 
    color: #ff5c5c;
  }
  .card-content h1 span { 
    color: red; 
  }

  .card-content h3 { 
    color: var(--primary-color);
  }

  /* hb form */
  label span{ 
    color: white  Im !important;
  }
  .action { 
    text-align: center !important;
  }


  /* card style */
  .card::after{
    content: '';
    height: 70px;
    width: 3px;
    position: absolute;
    left: -1px;
    top: 65%;
    background: linear-gradient(
        transparent,
        var(--primary-color),
        transparent
      );
    opacity: 0;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;

}
.card::after {  
    top: 65%;
    opacity: 0;
  }

.card:hover::after{
    top: 25%;
    opacity: 1;
}



/* responsive design  */
@media (max-width:756px) {
  .card-content{ 
    padding: 1.4rem;
  }
}

